{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	{{ template "head" .}}
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link integrity="{{ .CssFileHash }}" rel="stylesheet" href="/style.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
	<link rel="icon" type="image/png" href="/static/favicon.png" />
	<title>{{ template "title" .}} | spuri.io</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000">
	<meta name="msapplication-navbutton-color" content="#000000">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <nav class="nav" tabindex="-1" onclick="this.focus()">
    	<div class="container">
    		    <a href="/" class="pagename current">spuri.io</a>
    		{{ range $i := .NavItems }}
    		    <a href="{{ $i.Link }}" {{ if $i.NewPage }}target="_blank"{{ end }}>{{ $i.Name }} {{ if $i.NewPage }}&#128279;{{ end }}</a>
    		{{ end }}
    		    <a href="#" onclick="document.body.style.background='#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);">&#128161;</a>
    	</div>
    </nav>
    <div class="container">
    	<br>
    	{{ template "content" .}}
    </div>
</body>
</html>
{{end}}
