{{ define "head" }}{{ end }}
{{ define "title" }}c0dart Gallery{{ end }}
{{ define "content" }} 
{{ if .Images }}
<h2>Gallery</h2>
{{ range $img := .Images }}
<img src="{{ $img.Href }}" alt="{{ $img.Title }}">
<h3>{{ $img.Title }}</h3><br>
<p>{{ $img.Desc }}</p>
{{ end }}
{{ end }}
{{ if not .Images }}
<h2>No art yet, check back later!</h2>
{{ end }}
{{ end }}
