{{ define "head" }}{{ end }}
{{ define "title" }}c0dart Gallery{{ end }}
{{ define "content" }} 
{{ if .Images }}
<h2>Gallery (click to view full-size)</h2>
{{ range $imgInfo := .ImageSlice }}
<a href="{{ $imgInfo.Href }}"><img src="{{ $imgInfo.Src }}" alt="{{ $imgInfo.Title }}"></a>
<h3>{{ $imgInfo.Title }}</h3><br>
<p>{{ $imgInfo.Desc }}</p>
{{ end }}
{{ end }}
{{ if not .ImageSlice }}
<h2>No art yet, check back later!</h2>
{{ end }}
{{ end }}
