{{ define "head" }}{{ end }}
{{ define "title" }}Home{{ end }}
{{ define "content" }}
<h1>Welcome...</h1>
<h2>This site serves as my personal island in the seas of the interwebs.<br>
Enjoy your stay.</h2>
{{ end }}
