{{ define "head" }}{{ end }}
{{ define "title" }}Home{{ end }}
{{ define "content" }}
<h2>Welcome...</h2>
<h3>This site serves as my personal island in the seas of the interwebs.<br>
Enjoy your stay.</h3>
{{ end }}
